.about-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
}

.logo-img {
    width: 100px; 
    height: 100px; 
  }
  .logo-img2 {
    width: 115px; 
    height: 115px; 
  }
  .logo-img3 {
    width: 350px; 
    height: 350px; 
  }
  .logo-img4 {
    width: 170px; 
    height: 80px; 
  }
  

.text-zone {
    position: relative;
    width: 50%;
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 5%;
    padding-top: 5%;

    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
        line-height: 1.2;
        transition: color 0.3s ease; 

        &:hover {
            color: #ffd700; 
        }
    }

    p {
        color: #d1d1d1;
        font-size: 20px;
        margin-bottom: 15px;

         &:hover {
            color: #ffd700; 
        }
    }
}

.stage-cube-cont {
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translateY(-50%);
    overflow: visible;
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin: 0 auto;

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
    }

    .face1 {
        transform: translateZ(100px);
        color: #dd0031;
    }
    .face2 {
        transform: rotateY(90deg) translateZ(100px);
        color: #f06529;
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        color: #28a4d9;
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        color: #5ed4f4;
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        color: #efd81d;
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(100px);
        color: #ec4d28;
    }
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}
